.page {
    margin:0 auto;
}
.grid-container {
    height: 100%;
    padding:10px;
    display: grid;
    justify-content: center;
    justify-items: center;
    background-color:hsl(0, 24%, 53%);
    grid-template-columns: 1fr; 
    }

.grid-item {
    height: 500px;
    width:400px;
    padding: 15px;
    box-sizing: border-box;

    }
.grid-item:hover {
    height: 525px;
    width: 425px;
}
 @media screen and (max-width: 768px) { 
      
.grid-container {
    grid-template-columns: 1fr; 
    }
}

